In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Days':['Monday','Tuesday','Wednesday','Thursday','Friday','satureday'],
    '1':['Maths','physics','urdu','english','c.s','pak.study'],
    '2':['Maths','physics','urdu','english','c.s','pak.study'],
    '3':['Maths','physics','urdu','english','c.s','pak.study'],
    '4':['Maths','physics','urdu','english','c.s','pak.study']
})
df

        Days          1          2          3          4
0     Monday      Maths      Maths      Maths      Maths
1    Tuesday    physics    physics    physics    physics
2  Wednesday       urdu       urdu       urdu       urdu
3   Thursday    english    english    english    english
4     Friday        c.s        c.s        c.s        c.s
5  satureday  pak.study  pak.study  pak.study  pak.study

In [12]:
# df_2 = df.set_index('Days', inplace = True)
df.Monda

AttributeError: 'DataFrame' object has no attribute 'Monday'