In [1]:
import pandas as pd

In [2]:
ser = pd.Series(['White','red','yellow','black'])
ser

0     White
1       red
2    yellow
3     black
dtype: object

In [3]:
ser_1 = pd.Series(['Usman','Asad','Haroon','bacha'])
ser_1

0     Usman
1      Asad
2    Haroon
3     bacha
dtype: object

In [4]:
df = pd.DataFrame({'Color': ser,'Name':ser_1})
df

    Color    Name
0   White   Usman
1     red    Asad
2  yellow  Haroon
3   black   bacha

In [7]:
%matplotlib inline
df.plot