In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\\Local Disk E\\Data Scientist\\excel\\weather_11.csv")
df

        day   swat  mardan  kalam
0     Monday    19      26     10
1    Tuesday    18      28      9
2  Wednesday    20      27     11
3   Thursday    21      29     12
4     Friday    24      32      9
5   Saturday    26      33      8
6     Sunday    28      34     13

In [3]:
df_1 = pd.melt(df, id_vars=["day"])
df_1[df_1['variable']=='swat']

KeyError: "The following 'id_vars' are not present in the DataFrame: ['day']"